
h1 {
    color: orange;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #6de4e6; 
}
header {
    background-color:rgba(42, 151, 218, 0.7);
}
nav a:hover {
    background-color: black;
    color: #e69f42;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}